p {
    text-align: center;
}

.header{
    text-align: center;
    background-color: lightgrey;
    height: 50px;
    padding: 0px;
    line-height: 50px;
}

body{
    margin: 0;
    padding:0;
}
.header h1{
    margin: 0;
}

.article-main h2 {
    text-align: center;
}

.article-main {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

img {
    height: 250px;
    width: 250px;
}
