.flagbody {
	
	height: 500px;
	width: 800px;
	position: absolute;
	background-color: #002868;
	
}

.box-top-left {
	
	height: 175px;
	width: 175px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ef2b2d;
	border-right: solid 30px white;
	border-bottom: solid 30px white;
	
}

.box-bot-left {
	
	height: 175px;
	width: 175px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #ef2b2d;
	border-right: solid 30px white;
	border-top: solid 30px white;
	
}

.box-top-right {
	
	height: 175px;
	width: 475px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #ef2b2d;
	border-left: solid 30px white;
	border-bottom: solid 30px white;
	
}

.box-bot-right {
	
	height: 175px;
	width: 475px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #ef2b2d;
	border-left: solid 30px white;
	border-top: solid 30px white;
	
}