body{
    
    background-color: aqua;
    
}

h1 {
    
    color: gainsboro;
    
}

p {
    
    
    color: blue;
    
    
}

div ul li {
    
    
    color:lemonchiffon;
    
    
}

div li:first-child {

    color:violet;
    
}