.row {
    
    height: 150px;
    background-color: skyblue;
    
}

.col-lg-4 {
    
    height: 100px;
    background-color: grey;
 	border: solid 3px white;
    
}

h1 {
 
 text-align: center;
 
}

button {
 
 align-content: center;
 
}