* {
    box-sizing: border-box;
}

.a-header{
    /* margin-top: 100px; */
    background-color: brown;
    text-align: center;
    /* height: 50px; */
    color: green;
    padding: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
body {
    margin: 0px;
}

.image-thing {
    display: block;
    margin: auto;
}

.navbar-thing{
    margin-top: 0px;
    display:inline-block;
    background-color: brown;
    border: solid 1px black;
    width: 20%;
    text-align: center;
}

footer {
    margin: 0px;
    bottom: 0;
    background-color: yellow;
}

.no-white-space {
    margin: 0px;
}