.header {
	
	background-color: lightgrey;
	height: 75px;
	text-align: center;
	font-size: 50px;
	
}

.input-box {
	
	align-items: center;
	width: 100%
}

.text-header {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 25px;
}

.btn {
	margin-top: 100px;
	margin-bottom: 100px;
	font-size:20px;
}

.result {
	
	text-align: center;
	font-size: 50px;
	
}