body{
    
 background-color: floralwhite;
    
}

header {
    
    display: block;
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top:15px;
    
}

article {
    
    font-size: 35px;
    margin-top: 200px;
    margin: 5px;
    
}


#name {
    text-align: left;
    font-size: 15px;
    margin: 10px;
    
}

.one {
    
    display: inline-block;
    width: 30%;
    vertical-align: top;
    line-height: 150%;
    
}

.image{
    
    margin: auto;
    width:50%;
    padding: 10px solid black; 
    
}

#pic {
    
display: inline-block;
width: 100%;
    
}